<header class="main-header">
    <!-- Logo -->
    <a href="../../index2.html" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini" style="padding-left: 5px;"><div style="width: 40px; height: 40px;'"><img src="images/chat.png" style="width: 100%; height:100%"/></div></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Simple Chat</b> </span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>


      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">

          <!-- Messages: style can be found in dropdown.less-->
          <li class="dropdown messages-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-envelope-o"></i>
              <span class="label label-success">4</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 4 messages</li>
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                  <li><!-- start message -->
                    <a href="#">
                      <div class="pull-left">
                        <img src="../../dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        Support Team
                        <small><i class="fa fa-clock-o"></i> 5 mins</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                  <!-- end message -->
                </ul>
              </li>
              <li class="footer"><a href="#">See All Messages</a></li>
            </ul>
          </li>
          <!-- Notifications: style can be found in dropdown.less -->
          <li class="dropdown notifications-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-user"></i>
              <span class="label label-warning">{{vm.friends.length ? vm.friends.length : 0}}</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have {{vm.friends.length ? vm.friends.length : 0 }} friends</li>
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                  <li>
                    <a href="#" ng-repeat = "list in vm.friends" ng-click = "vm.openchat(list)">
                      <i class="fa fa-user" ></i> {{list.first + ' ' + list.last}}
                    </a>
                  </li>
                </ul>
              </li>
              <li class="footer"><a href="#" ng-click="vm.activateRightNotificationBar()">View all</a></li>
            </ul>
          </li>
          <!-- END NOTIFICATION -->
        </ul>
      </div>
    </nav>
  </header>

	<!-- Custom scripts -->
    <link href="styles/togglebar.css" rel="stylesheet" type="text/css"/>
	<!-- End Custom scripts -->

<!-- right control side bar -->
  <div ng-include="'app/layout/rightControlBar.html'"></div>
